/* --- Sidebar Styling --- */

.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  color: var(--text-light);
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  /* Prevents sidebar from shrinking */
}

.sidebar-header {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  padding: 10px 0 30px 0;
  /* color: var(--primary-blue); */
}

.sidebar-header a{
  text-decoration: none;
  color: var(--primary-blue);
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--text-light);
  font-size: 0.95em;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav li a i {
  margin-right: 15px;
  font-size: 1.1em;
}

.sidebar-nav li a:hover,
.sidebar-nav li .active {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-left: 4px solid var(--primary-blue);
  padding-left: 16px;
  /* Adjust padding to make up for border width */
}
