/* --- Global Styles --- */
:root {
  --primary-blue: #007bff; /* Main brand blue */
  --secondary-dark: #495d73;
  --sidebar-bg: #2c3e50;
  --dark-blue: #1b263b; /* Hero section background */
  --light-bg: #f5f8fd; /* Light background for sections */
  --text-dark: #333;
  --text-light: #f4f4f4;
  --border-light: #e0e0e0;
  --border-color: #dee2e6;
  --input-border: #c6c4c4;

  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  --vacate-color: #fbc02d; /* Amber for Vacate/Warning */
  --delete-color: #f44336; /* Red for Delete/Danger */

  --dropzone-border: #d1d5db;
  --dropzone-bg: #f9fafb;
  --dropzone-text: #6b7280;

  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --card-bg: white;
  --font-family: "Poppins", sans-serif;

  /* Status Colors */
  --status-new-bg: #fee2e2; /* Light Red */
  --status-new-text: #dc2626; /* Dark Red */
  --status-inprogress-bg: #fffbeb; /* Light Yellow */
  --status-inprogress-text: #d97706; /* Dark Yellow */
  --status-resolved-bg: #d1fae5; /* Light Green */
  --status-resolved-text: #059669; /* Dark Green */

  --status-paid-bg: #d1fae5; /* Light Green */
  --status-paid-text: #059669; /* Dark Green */
  --status-pending-bg: #fee2e2; /* Light Red */
  --status-pending-text: #dc2626; /* Dark Red */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text-dark);
  line-height: 1.6;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* --- Buttons --- */
.btn-primary {
  display: inline-block;
  background-color: var(--primary-blue);
  color: var(--text-light);
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  display: inline-block;
  background-color: transparent;
  color: var(--text-dark);
  padding: 10px 25px;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
  background-color: #2d2d2d1a;
}

.btn-text {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
}

.btn-primary-blue {
  /* Used for features/login section */
  display: inline-block;
  background-color: var(--primary-blue);
  color: var(--text-light);
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn-primary-blue:hover {
  background-color: #0056b3;
}
